/*estilos generales*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none  ;
}

.box p,.box h2,.box h3,.box ul{
    margin-top: 5px;
    margin-bottom: 5px;

}
.box ul,.box ol{
    margin-left: 20px;
    margin-bottom: 10px;
}
body{
    background-color: #f2f2f2;
}

/*estilos cabecera*/
header{
    width: 1212px;
    height: 140px;
    background-color: #23282b;
    margin:0 auto;
}

#logotipo{
    width: 40%;
    height:120px;
    margin: 0 auto;
    padding-top: 10;

}
/*estilos contenido central*/


#logotipo img{
    display: block;
    width: 60px;
    float: left;
    margin-top: 20px;
}

#logotipo h1{
    display: block;
    float:left;
    margin-top: 35px;
    margin-left: 20px;
    letter-spacing: 1px;
    font-weight: lighter;
    color:#2ba977;
}
/*estilos ded barra de navegacion*/
nav{
   width: 1250px;
   height: 40px;
   margin: 0 auto;
   background-color: #1b1e1f;
   border:1px solid #333333;
   box-shadow: 0px 22px 22px gray;
   font-size: 16px;
   

}
nav ul{
    list-style: none;
    text-decoration: none;
}
nav ul li{
    line-height: 40px;
    float:left;
}
nav ul li a{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    color: #d1d4d6;

}
nav ul li a:hover{
    background:#2ba977 ;
    box-shadow: 0px 0px 5px #444444 inset;
    color: white;
    transition: 300ms;
}

.barra{
    width: 1250px;
    margin: 0 auto;
    

}
.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;
}
.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: right;
}
.relleno-barra{
    display: block;
    width: 1210px;
    height: 10px;
    background: #2b2f30;
    float: left;
}
#content{
    width: 1210;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 50px;
}
.box{
    background:white;
    width: 90%;
    min-height: 930px;
    padding: 20px;
    border:1px solid #ddd;
    margin: auto;
    border-radius: 2px;

}
.box form{
    width: 40%;
}
.box form input,
.box form label{
    display: block;
    padding: 5px;
    padding-left: 0px;
}
.box form input[type="text"],
.box form select,
.box form textarea{
    width: 100%;
    margin-bottom: 10px;
}
.box form select{
    width: 100px;
    padding: 5px;
}
.box form input[type="submit"],
.box form input[type="button"],
.box form button{
    padding: 10px;
    margin-top: 1px;
    background:#2ba977 ;
    border: 1px solid #444;
    color: white;
    transition: 300ms all;
}
.rojo{
    color: red;
    box-shadow: 0px 0px 4px black;
}

.message{
    padding: 20px;
    background: #1f7e58;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover{
    cursor: pointer;
    background:#12704b ;
   
}


.title{
    color:#444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10;
}

footer{
    width: 1250px;
    background-color:#444;
    border:1px solid #333;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px gray;
}
    